
.LenguaMatica {
    background-color: #efefef;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
}

.mainBox{
    background-color: #caebf2;
    padding: 20px;

    width: 100%;
    height: 90vh;
    margin: 0 auto;
}
/*
const styles = {
    root: {
        backgroundImage: `url(${Background})`,
        backgroundSize: "cover",
        height: "100vh",
        display: "flex",
        backgroundAttachment: "fixed",
        backgroundRepeat: "no-repeat",
    },
    container: {
        alignSelf: "center",
        justifyContent: 'center',
        textAlign: "center",
    },
    button: {
        position: "absolute",
    }
};*/