.MuiPaper-root{
    background-color: white;
    opacity: 0.90;
}

.MuiTypography-body1{
    font-weight: 700 ;
    text-align: center;
}

.aca{
    font-size: 1.5rem;
    font-weight: 700 ;
    text-align: center;
    color: red;
}