.LenguaMatica {
  font-size: 5rem;
  padding: 1rem;
  color: black;
  font-family: "Franklin Gothic Medium";
  font-weight: 1000;
  text-shadow: 5px 5px 15px  white;
}

.title{

}


.root{
  background-image: url("../Assets/background.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: center;
  background-attachment: fixed;
  height: 100%;
  background-position: center;
}

.root__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: hidden;
}


@media only screen and (max-width: 800px) {

  .root{
    height: 100vh;
  }
}

@media only screen and (min-width: 800px) {

  .root__container{
    height: 100vh;
  
  }

  .root{
    height: 100%;
  }
}
